
/*
#A09659-Green on inv
#896E62-Brown
#FAD3CC-Pink
#FFF7EF-Cream
#D1DBC7- non inv green
#d2d9dd- light blue
*/ 
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
  }
body{
    background-color: #fff0db;
    width: 100%;
    
}
header{
    text-align: center;
}
header img{
    width:100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
header p{
    font-size: 250%;
    padding: 2%;
}
nav a{
    text-decoration: none;
    font-size: 250% ;
    padding:3%;
    color: #979fcd ;
    white-space: nowrap;
}
h2{
    font-size:400%;
    margin-left: 4%;
    padding-left: 1%;
    border-bottom: 2px #FAD3CC  solid;
    width: 10em;
    color: #A09659;
    margin-bottom: 0;
}
h3{
    font-size:3.5em;
    text-align: center;
    border: 2px solid #979fcd ;
    border-radius: 2em;
    width: 10em;
    padding: .2em;
}
.h3Wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
h4{
    font-size: 3em;
    border-bottom:2px solid #A09659;
    border-radius: 2em;
    width: 10em;

}

.food{
    display: flex;
    width: 45em;
    height: 22.5em;
    background-color: #d2d9dd;
    border: 2px solid #979fcd ;
    border-radius: 4em;
}
.foodInfo{
    width: 50%;
}
.resturaunts{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    row-gap: 5em;
    column-gap: 2em;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0;
}
.resturaunts img{
    width: 100%;
    border-radius: 4em;
    
}
.resturaunts a{
    margin-left: 0;
    margin: 0;
    width: 50%;
    height: 22.5em;
}
h5{
    font-size: 2.2em;
    margin: .5em 0em;
    padding:.2em;

}
.foodInfo strong{
    font-size: 1.75em;
}
.testimony{
    padding:0em 2em;
    font-size: 1.2em;
}
.beachWrapper{
    margin-top: 0;
    display: flex;
    justify-content: center;
}
.beach{
    text-align: center;
    margin: 0 5em;
}
.beach img{
    width: 100%;
    border-radius: 2em;
}
#details p{
    text-align: center;
    font-size: 2em;
    padding: 0 20%;
    color: #896E62 ;
}
.beach h4{
    font-size: 3em;
    border-bottom:none;
    text-align: center;
    width: auto;
    margin-top:0;
    margin-bottom: 1em;
}
#accommodations{
    text-align: center;
}
#accommodations a{
    padding: 0 5em;
}
#accommodations h2{
    margin-bottom: 0;
}


@media only screen and (max-width:768px){
    .resturaunts{
        display: grid;
        grid-template-columns: auto;
        margin-left:0 ;
    }
    .food{
        display: flex;
        width: 32em;
        height: 16em;
        background-color: #d2d9dd;
        border: 2px solid #979fcd ;
        border-radius: 4em;
    } 
    h5{
        font-size: 1.5em;
        margin-bottom: 0;
        padding:.1em .5em;
    
    }
    .foodInfo strong{
        font-size: 1.5em;
        margin: 0;
    }
    .testimony{
        padding:0em .5em;
        font-size: .75em;
    }
    h2{
        font-size:3.0em;
        margin-left: 4%;
        padding-left: 1%;
        border-bottom: 2px #FAD3CC  solid;
        width: 8em;
        color: #A09659;
        margin-bottom: 0;
    }
    h3{
        font-size:2.5em;
        width: 10em;
    }
}